<div id="browseLists" class="browseLists">
  {{#each shows}}
    <h2>{{title}}</h2>
    <ul>
      {{#each data}}
      <li>
        <img src={{boxart}} />
      </li>
      {{/each}}
    </ul>
  {{/each}}
</div>
