<div class="headlineHeader">
  <ul>
    <li class="headlineTitle">
      <div class="title"><h1>{{title}}</h1></div>
      <div class="releaseYear">{{releaseYear}}</div>
      <div class="rating">{{rating}}</div>
    </li>
    <li class="headlineFocusImg">
      <div>
        <img src={{displayart}} />
      </div>
    </li>
  </ul>
</div>
